numpy<2
scipy
pandas
pyarrow
requests
matplotlib
seaborn
networkx
plotly
statsmodels
pygam
matplotlib-venn
openpyxl
python-dotenv
joblib
jupyter
ipykernel
scikit-learn==1.5.1
git+https://github.com/matthijsz/weightedcorr.git